* {
    margin: 0;
    padding: 0;
    font-family: monospace;
    font-weight: 500;
    color: #A3A3A3;
}

h1 {
    text-align: center;
}

body {
    background: #181A1B;
    padding: 10px;
}

.textareaContainer {
    position: relative;
    display: flex;
    gap: 10px;
    margin: 10px 0px;
    height: 60vh;
}

textarea {
    width: 100%;
    border: none;
    border-radius: 16px;
    padding: 20px;
    font-size: 20px;
}

textarea:focus {
    outline: none;
}

#input {
    resize: none;
    background: #141414;
    border: #181A1B 1px solid;
    transition: all 0.3s;
}

#input:focus {
    background: #1E2021 
}

#output {
    resize: none;
    background: #141414;
    transition: all 0.3s;
}

.havOutput {
    background: #1E2021 !important;
}

#copyBtn {
    background: #141414;
    border: #181A1B 1px solid;
    padding: 10px;
    border-radius: 8px;
    transition: all 0.3s;
    width: 100%;
}

#copyBtn:focus {
    outline: none;
}

#copyBtn:hover {
    background: #1e202131;
}

#copyBtn:disabled {
    background: #1E2021
}

#copyBtn:active {
    transform: scale(1.1);
}