* {
    margin: 0;
    padding: 0;
    font-family: monospace;
    font-weight: 500;
    color: #A3A3A3;
}

h1 {
    text-align: center;
}

body {
    background: #181A1B;
    padding: 10px;
}

.textareaContainer {
    padding-top: 5vh;
    position: relative;
    display: flex;
    gap: 10px;
    margin: 10px 0px;
    height: 60vh;
}

textarea {
    width: 100%;
    border: none;
    border-radius: 16px;
    padding: 20px;
    font-size: 20px;
}

textarea:focus {
    outline: none;
}

#input {
    resize: none;
    background: #141414;
    border: #181A1B 1px solid;
    transition: all 0.3s;
}

#input:focus {
    background: #1E2021 
}

#input:hover {
    background: #1e202131;
}

#output {
    resize: none;
    background: #141414;
    transition: all 0.3s;
}

.havOutput {
    background: #1E2021 !important;
}

#copyBtn {
    background: #141414;
    border: #181A1B 1px solid;
    padding: 10px;
    border-radius: 8px;
    transition: all 0.3s;
    font-size: 20px;
    width: 100%;
    height: 100px;
}

#copyBtn:focus {
    outline: none;
}

#copyBtn:hover {
    background: #1e202131;
}

@keyframes copyBtnAnimation {
    0% {
        transform: scale(1.1);
    }
    25% {
        transform: scale(1);
    }
    50% {
        transform: scaleX(0.5);
    }
    75% { transform: rotate(0deg); }
    80% { transform: rotate(.15deg); }
    85% { transform: rotate(0eg); }
    90% { transform: rotate(-.10deg); }
    100% { transform: rotate(0deg); }
}

@keyframes shake {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(.5deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-.5deg); }
    100% { transform: rotate(0deg); }
}

#copyBtn:disabled {
    background: #1E2021;
    animation: shake 250ms infinite;
}

#copyBtn:active {
    animation: copyBtnAnimation 250ms;
}